/** reset **/
html{color: #333;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}
html *{outline: 0; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0)}
html,body{font-family: sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin: 0; padding: 0}
input,select,textarea{font-size: 100%}
table{border-collapse: collapse; border-spacing: 0}
fieldset,img{border: 0}
abbr,acronym{border: 0; font-variant: normal}
del{text-decoration: line-through}
address,caption,cite,code,dfn,em,th,var{font-style: normal; font-weight: 500}
ol,ul{list-style: none}
caption,th{text-align: left}
h1,h2,h3,h4,h5,h6{font-size: 100%; font-weight: 500}
q:before,q:after{content: ''}
sub,sup{font-size: 75%; line-height: 0; position: relative; vertical-align: baseline}
sup{top: -.5em}
sub{bottom: -.25em}
ins,a{text-decoration: none}


/** common **/
html{height:100%;}
body{font-family: "Microsoft YaHei",Arial;min-width:1200px;min-height:100%;-webkit-font-smoothing: antialiased;color:#333;}
.mw{width:1180px;margin:0 auto;position: relative;}
button{border:0px;text-align: center;cursor: pointer;display: inline-block;}
button,input,select,textarea{font-family: Microsoft YaHei;}
input:active{border:1px solid #000;}
input[type=text],textarea,select{padding-left:10px;box-sizing: border-box;border:1px solid #cfd6e2;}
input[type=button]{border:1px solid #cfd6e2;cursor: pointer;}
a{color:#333;}
a:hover{color:#38b349;}
.fl{float: left}
.fr{float: right}
.hide{display: none;}
.show{display: block;}
.clearfix:after{content:''; display:block; height:0; clear:both;}
.clearfix{zoom:1;}
select[disabled]{background: #ebebe4;}


.blue{color:#269bf3!important;}
.green{color:#38b349!important;}
.red{color:#ee2f36!important;}
.light-red{color:#f86b67!important;}
.yellow{color:#ffff49!important;}
.gray{color:#a9a9a9;}

.blue-btn{background: #269bf3!important;color:#fff!important;}
.blue-btn:hover{background: #1984d3!important;}
.green-btn{background: #38b349!important;color:#fff!important;}
.light-black-btn{background: #354052!important;color:#fff!important;}
.green-btn:hover{background: #30a03f!important;}
.light-red-btn{background: #f2605c!important;color:#fff!important;}
.light-red-btn:hover{background: #dc4c48!important;}

.border-btn{padding:3px 0;width:60px;text-align:center;display: inline-block;background: transparent;font-size:12px;border-radius: 2px;}
.red-border-btn{border:1px solid #f86b67;color:#f86b67;}
.gray-border-btn{border:1px solid #8191a6;color:#8191a6;background: #fff!important;}
.green-border-btn{border:1px solid #38b349;color:#38b349;}
.blue-border-btn{border:1px solid #269bf3;color:#269bf3;}
input[type=text].error{border:1px solid #ee2f36!important;background: url("../img/noIcon.png") right center no-repeat;padding:0 0 0 10px;}

.checkbox-col .checkbox-ui{display: inline-block;width:16px;height:16px;border:1px solid #ccc;border-radius: 4px;position: relative;top:4px;margin-right:4px;}
.checkbox-col .checkbox-ui.checked{background: url("../img/checkOk.png") no-repeat;border:1px solid transparent;}

/** 悬浮tips **/
.pt{position: absolute;text-align:left;background: none repeat scroll 0 0 #e4e4e4; z-index: 2209;width: auto;height:auto;display:none;margin-left:8px;}
.pt .cont{height: auto;overflow-y: auto;background-color: #e4e4e4;;padding: 10px;font-size:14px;}
.pt .out, .pt .in{display: block; font-family: simsun; font-size: 0; height: 0; overflow: visible; position: absolute; width: 0;}
.pt-up .out, .pt-up .in{border-style: dashed dashed solid;}
.pt-up .out{border-color: transparent transparent #e4e4e4; border-width: 0 7px 8px; left: 28px; top: -8px;}
.pt-up .in{border-color: transparent transparent #e4e4e4; border-width: 0 6px 7px; left: 29px; top: -7px;}
.pt-right .out, .pt-right .in{border-style: dashed dashed dashed solid;}
.pt-right .out{border-color: transparent transparent transparent #e4e4e4; border-width: 8px 0 7px 7px; right: -7px; top: 28px;}
.pt-right .in{border-color: transparent transparent transparent #e4e4e4; border-width: 7px 0 6px 6px; right: -6px; top: 29px;}
.pt-down .out, .pt-down .in{border-style: solid dashed dashed;}
.pt-down .out{border-color: #e4e4e4 transparent transparent; border-width: 8px 7px 0; bottom: -8px; left: 28px; top: auto;}
.pt-down .in{border-color: #e4e4e4 transparent transparent; border-width: 7px 6px 0; bottom: -7px; left: 29px; top: auto;}
.pt-left .out, .pt-left .in{border-style: dashed solid dashed dashed;}
.pt-left .out{border-color: transparent #e4e4e4 transparent transparent; border-width: 7px 8px 7px 0; left: -8px; top: 28px;}
.pt-left .in{border-color: transparent #e4e4e4 transparent transparent; border-width: 6px 7px 6px 0; left: -7px; top: 29px;}

.header{background: #fff;height:52px;box-sizing: border-box;padding:5px 26px;border-bottom:1px solid #e6eaee;text-align: center;min-width: 1200px;}
.header img{position: absolute;left:8px;width:270px;}
.header .header-menu{display: inline-block;font-size:14px;color:#313d4f;line-height:44px;}
.header .header-menu>li{display: inline-block;margin:0 26px;position: relative;}
.header .header-menu>li a i{position: relative;top:2px;}
.header .header-menu .active>a{color:#38b349;}
.header .header-right{position: absolute;right:10px;top:0;font-size:12px;color:#999999;line-height:52px;}
.header .header-right>span{display: inline-block;}
.header .header-right i{font-size:16px;position: relative;top:2px;margin-left:3px;}
.header .header-right .login-out{margin-left:10px;cursor: pointer;}
.header .header-right .blue{margin-right:6px;}
.header .header-right .username{cursor: pointer;display: inline-block;}
.header .header-right .username .dropdown-list{width:100px;left:0;}
.has-dropdown{position: relative;}
.dropdown-list{background: #fff;position: absolute;left:0;width:100%;top:44px;padding:6px 0;display: none;}
.dropdown-list a{display: block;text-align: center;line-height:24px;}
.top-title-col{font-size:16px;line-height:42px;border-radius: 4px 4px 0 0;padding-left:34px;}

.gray-bg{background: #eff3f6!important;}
.blue-bg{background: #2197f0!important;color:#fff!important;}
.red-bg{background: #f86b67!important;color:#fff!important;}
.light-black-bg{background:#354052!important; color:#fff!important;}


.orange-bg{background: #f6ba52!important;color:#fff!important;}
.green-bg{background: #38b349!important;color:#fff!important;}

.col-33{width:33.3%;float:left;}
.col-20{width:20%;float:left;}
.col-25{width:25%;float:left;}
.col-40{width:40%;float:left;}
.col-50{width:50%;float:left;}
.col-16{width:16%;float:left;}

.mt12{margin-top:12px!important;}

.has-icon{position: relative;}

/*modal*/
.modal{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index:1008;overflow-x:hidden;overflow-y:scroll;}
.modal-dialog{width:700px;position: relative;margin: 10% auto 0 auto;background: #fff;z-index:100;font-size:14px;}
.modal-header{min-height: 16px;padding: 20px 28px;background: #354052;color:#fff;}
.modal-dialog .close {position: absolute;right:16px;top:16px;font-size: 24px;line-height: 1;color: #ddd;cursor: pointer;z-index:1000;}
.modal-header .modal-title{color:#fff;}
.modal-dialog .dialog-footer{height:60px;position: relative;background: #f0f3f8;padding:0 30px;}
.modal-dialog button{width:70px;line-height:34px;border-radius: 4px;margin-top:12px;}

.modal-dialog .dialog-body{color:#4b505a;position: relative;padding:20px 36px 16px 36px;}
.modal-dialog .info-list{padding:0 0 12px 0;}
.modal-dialog .info-list li{padding:8px 0;}
.modal-dialog .info-list li select,.modal-dialog .info-list li input[type=text]{width:120px;height:28px;line-height:28px;}
.modal-dialog .info-list li label{color:#7f8fa4;display: inline-block;width:100px;text-align: right;margin-right:10px;}
.modal-dialog .info-list li>span{display: inline-block;width:195px;}
.modal-dialog .info-list .col>label{width:50px;}
.modal-dialog .info-list .col>span{width:auto;}
.modal-dialog .info-list .col>span>span{display: inline-block;width:98px;}
.modal-dialog .info-list li em.red{position: relative;top:3px;}
.modal-dialog .info-border-col{width:623px;background: #fff2da;margin:0 auto;border:1px solid #ffae5c;}
.modal-dialog .info-border-col .info-list{padding:0;font-size:13px;}
.modal-dialog .info-border-col .info-list em{color:#ff3c3c;font-weight: bold;}
.modal-dialog .info-border-col .info-list li label{}
.modal-dialog .info-border-col .info-list li span{font-weight: bold;}
.modal-dialog .info-border-col .info-list li span>span{font-size:13px;}
.modal-dialog .title-col{padding-left:22px;margin-top:-5px;}

.modal-dialog .info-col{padding-left:20px;position: relative;color:#ff3c3c;width:558px;margin:0 auto;}
.modal-dialog .info-col i{color:#ff3c3c;position: absolute;left:0;top:3px;}
.modal-dialog .info-col p{padding:2px 0;}

.modal-dialog .error{width:558px;margin:0 auto;}

.modal-lg{width:880px;}
.modal-lg .info-list li>span{width:279px;}
.modal-lg .info-list .three label{width:60px;}
.modal-lg .info-list .three span{width:130px;}
.modal-lg .info-col{width:808px;}
.modal-lg .info-border-col{width:808px;}
.modal-lg .error{width:808px;margin:0 auto;}

.modal-lg .info-list .col>span>span{width:120px;}


.shadow{background: #000;opacity: 0.6;z-index:1000;position: fixed;width:100%;height:100%;top:0px;filter:alpha(opacity=60);}

.error{color:#ee2f36;padding:12px 0;font-size:12px;}
.error i{margin-right:5px;}

.box-col{position: relative;top:2px;margin-right:3px;}

.operation-info{position: absolute;top:40%;width:100%;text-align: center;font-size:32px;}
.operation-info i{font-size:80px;position: relative;top:10px;margin-right:6px;}
.operation-info .icon-sad{color:#ee2f36}
.operation-info .icon-smile{color:#2da1f7}

.tr{text-align: right;}

/** loading **/
.loading-indicator{
    height: 80px;
    width: 80px;
    background: url( '../img/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    z-index:500000000!important;
}
.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    z-index:500000000!important;
}