.PC_title {
  padding-top: 0;
  height: 100px;
}
.PC_title > .fl {
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  line-height: 76px;
  font-size: 20px;
  font-weight: 900;
  color: #402426;
  padding-top: 10px;
}
.PC_title .a {
  border-bottom: 4px solid #0178e0;
}
.market_details {
  width: 1280px;
  position: relative;
  margin: 0 auto;
}
.market_details .select_slDiv {
  height: 87px;
}
.market_details #btnSelect {
  width: 95px;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 18px;
}
.market_details #btnSelect i {
  float: right;
}
.market_details .slDiv {
  height: 35px;
  margin-top: 29px;
  position: relative;
}
.market_details .slDiv i {
  position: absolute;
  top: 10px;
  right: 14px;
}
.market_details .ulDiv {
  margin-top: 0;
  border-radius: 21px;
}
.market_details .ulDiv ul {
  border-radius: 21px;
  border: 1px solid #ccc;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.market_details .ulDiv li {
  width: 95px;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  background-color: #fff;
}
.market_details .ulDiv li:last-child {
  border-radius: 0 0 20px 20px;
}
.market_details .month_div {
  height: 50px;
  background-color: #fff;
}
.market_details .month_div .month_block {
  width: 974px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}
.market_details .month_div .month_block ul {
  width: 2088px;
}
.market_details .month_div .month_block ul li {
  width: 87px;
  height: 48px;
  line-height: 50px;
  text-align: center;
}
.market_details .month_div span {
  width: 32px;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.month_div > ul {
  width: 137px;
  height: 50px;
  background-color: #f7fafa;
}
.month_div > ul li {
  text-align: center;
  line-height: 50px;
  width: 137px;
  height: 50px;
  color: #0178e0;
}
.month_div > ul li i {
  color: #0178e0;
}
.download {
  width: 93px;
  height: 48px;
  border: 1px solid #ccc;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}
.bottom_market {
  margin-top: 20px;
}
.bottom_market .title {
  height: 45px;
  background-color: #f8f9fb;
  border: 1px solid #f0eaec;
  box-sizing: border-box;
}
.bottom_market .title .type .active {
  display: block;
  border-right: none;
}
.bottom_market .title div:nth-child(1),
.bottom_market .title div:nth-child(2) {
  cursor: pointer;
}
.bottom_market .title div {
  height: 43px;
  width: 140px;
  line-height: 43px;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
}
.bottom_market .title .active {
  background-color: #fff;
  border-right: 1px solid #f0eaec;
  color: #0178e0;
}
.bottom_market .title ul {
  width: 100px;
  height: 45px;
  overflow: hidden;
}
.bottom_market .title ul li {
  width: 100px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  color: #0178e0;
}
.bottom_market .title ul li i {
  color: #0178e0;
}
.bottom_market .rmb_market {
  display: none;
  width: 100%;
  background-color: #fff;
}
.bottom_market .rmb_market thead {
  width: 100%;
  background-color: #fff;
}
.bottom_market .rmb_market thead tr {
  border-left: 1px solid #f0eaec;
  border-right: 1px solid #f0eaec;
}
.bottom_market .rmb_market thead th {
  font-size: 13px;
  font-size: 900;
  text-align: center;
  height: 45px;
  width: 213px;
  border-bottom: 1px solid #f0eaec;
}
.bottom_market .rmb_market tbody {
  width: 100%;
}
.bottom_market .rmb_market tbody tr {
  border-left: 1px solid #f0eaec;
  border-right: 1px solid #f0eaec;
}
.bottom_market .rmb_market tbody td {
  font-size: 12px;
  font-size: 900;
  text-align: center;
  height: 45px;
  border-bottom: 1px solid #f0eaec;
}
.rmb_market.block {
  display: block;
}
.type {
  width: 147px;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 48px;
  font-size: 14px;
  color: #0178e0;
  position: absolute;
  right: 95px;
  z-index: 2;
}
.type div {
  display: none;
  background-color: #fff;
}
.type .type1 {
  background-color: #f4f7fe;
  color: #0178e0;
  font-size: 15px;
  font-weight: 900;
  box-sizing: border-box;
  cursor: pointer;
}
.type i {
  color: #0178e0;
  font-size: 25px;
  font-weight: 900;
  margin-right: 32px;
  position: absolute;
  cursor: pointer;
  right: -28px;
  top: 0px;
  z-index: 1;
}
.bottom_market .type {
  right: 25px;
  width: 110px;
  border: none;
}
.bottom_market .type .type1 {
  background-color: #f8f9fb   ;
}
.bottom_market .type i {
  right: -8px;
}
.active.type1 {
  display: block;
}
.l {
  width: 10px;
  top: 10px;
  position: absolute;
  background: #fff;
  height: 433px;
  left: 84px;
  z-index: 2;
}
.b {
  width: 902px;
  position: absolute;
  background: #fff;
  height: 9px;
  bottom: 83px;
  z-index: 2;
  left: 85px;
}
.charts_main {
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  width: 1250px;
  height: 473px;
  position: relative;
  padding-top: 60px;
  padding-left: 30px;
}
.charts_main .guides_titile {
  position: absolute;
  left: 35px;
  z-index: 3;
  top: 25px;
  font-size: 16px;
  color: #4b4b4b;
}
.date1 {
  position: absolute;
  right: 0;
  top: 0;
}
.date1 i {
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 16px;
}
.date1 i:nth-child(3) {
  right: 378px;
  top: 33px;
  z-index: 100;
  font-size: 12px;
  z-index: 1;
}
.date1 i:nth-child(4) {
  right: 200px;
  top: 33px;
  z-index: 100;
  font-size: 12px;
  z-index: 1;
}
.date1 input:nth-child(2) {
  position: absolute;
  border: 1px solid #f0eaec;
  width: 150px;
  height: 26px;
  left: -223px;
  top: 25px;
  z-index: 1;
  text-indent: 21px;
}
.date1 input:nth-child(1) {
  position: absolute;
  border: 1px solid #f0eaec;
  width: 150px;
  height: 26px;
  top: 25px;
  z-index: 1;
  left: -400px;
  text-indent: 21px;
}
.market_details .month_div .type .type1:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.market_details .month_div .type .type1:nth-child(3) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
