.bg {
  background: url("../img/img0.jpg") center center;
}
.bg .Public_header {
  margin-bottom: 0;
}
.login_menu {
  left: 311px;
  top: 62px;
  width: 410px;
  background-color: #fff;
  height: 358px;
  padding-top: 35px;
}
.login_menu .login_title {
  height: 20px;
  padding-left: 67px;
  padding-bottom: 19px;
  border-bottom: 1px solid #f8f4f5;
}
.login_menu .login_title div {
  height: 100%;
  width: 75px;
  font-size: 17px;
  font-weight: 900;
  color: #0178e0;
}
.login_menu input {
  display: block;
  border: none;
  border-bottom: 1px solid #f8f4f5;
  width: 275px;
  height: 44px;
  margin-top: 18px;
  margin-left: 67px;
  font-size: 15px;
}
.login_menu button {
  display: block;
  margin: 48px auto 0;
  width: 135px;
  height: 45px;
  background-color: #0178e0;
  color: #fff;
  font-size: 15px;
  margin-bottom: 26px;
  border-radius: 5px;
}
.login_menu .register {
  margin-left: 67px;
  margin-bottom: 65px;
}
.login_menu .register i {
  font-weight: 900;
  font-size: 15px;
}
.login_menu .register a {
  color: #0178e0;
  font-weight: 900;
  font-size: 14px;
}
.login_menu > .fr {
  font-size: 14px;
  color: #0178e0;
  font-weight: 700;
  margin-right: 50px;
}
