.add {
  width: 125px;
  height: 40px;
  background-color: #0178e0;
  border-radius: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  transform: translateY(-7px) translateX(-10px);
}
.add i {
  font-size: 19px;
  vertical-align: top;
  margin-right: 5px;
  color: #fff;
}
.PC_title > .fl {
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  color: #402426;
  margin-right: 23px;
}
.PC_title > .fl span {
  padding: 8px 22px;
  border: 1px solid #e4e4e4;
  background-color: #e4e4e4;
}
.PC_title > .fl span:nth-child(1) {
  margin-left: 3px;
}
.PC_title > .fl .open {
  background-color: #fff;
  color: #0178e0;
}
.affiliation,
.varieties {
  width: 179px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  text-indent: 20px;
  position: absolute;
}
.affiliation div,
.varieties div {
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #cccccc;
}
.affiliation div:nth-child(1),
.varieties div:nth-child(1) {
  top: 0px;
}
.affiliation div:nth-child(2),
.varieties div:nth-child(2) {
  top: 40px;
  display: none;
}
.affiliation div:nth-child(3),
.varieties div:nth-child(3) {
  top: 80px;
  display: none;
}
.affiliation i,
.varieties i {
  padding-right: 20px;
  cursor: pointer;
}
.affiliation {
  left: -379px;
}
.affiliation div:nth-child(1) {
  border-right: none;
  border-radius: 20px 0px 0px 20px;
}
.affiliation div {
  border-right: none;
}
.pos {
  position: absolute;
  top: 83px;
}
.pos .iconfont {
  position: absolute;
  top: 13px;
  right: 33px;
  z-index: 9999;
}
.varieties {
  left: -200px;
}
.varieties div:nth-child(1) {
  border-left: none;
  border-radius: 0px 20px 20px 0px;
}
.varieties div {
  border-left: none;
}
.item {
  position: relative;
}
.item span {
  position: absolute;
  margin-top: -10px;
  padding: 10px;
  top: 15px;
  right: 40px;
  height: 12px;
  line-height: 12px;
}
.item h4 {
  padding: 0;
  height: 42px;
  background-color: #fff;
}
.item h4 > i {
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
}
.item h4 > i:nth-child(1) {
  width: 40px;
  height: 42px;
  border-right: 1px solid #ccc;
}
.item h4 .title {
  color: #0178e0;
  width: 95px;
}
.item h4 > i:nth-child(3) {
  width: 290px;
}
.item h4 > i:nth-child(3) i {
  color: #0178e0;
}
.item h4 i:nth-child(4) {
  margin-right: 13px;
  float: right;
}
.jq22 .item {
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 398px;
  overflow: hidden;
}
.jq22 .item div:last-child {
  height: 355px;
}
.jq22 .item div:last-child table {
  width: 100%;
}
.jq22 .item div:last-child table tbody tr:nth-child(1) {
  background-color: #fff;
  font-weight: 900;
}
.jq22 .item div:last-child table tbody tr:nth-child(odd) {
  background-color: #f8f9fb;
}
.jq22 .item div:last-child table tbody tr:nth-child(even) {
  background-color: #fff;
}
.jq22 .item div:last-child table tbody tr {
  padding: 0 8px;
  border: 1px solid #f8f9fb;
}
.jq22 .item div:last-child table tbody tr td {
  height: 35px;
  text-align: left;
}
.jq22 .item div:last-child table tbody tr td:nth-child(1) {
  color: #0178e0;
  padding-left: 10px;
}
.radiusL {
  border-radius: 20px 0 0 20px;
}
.radiusR {
  border-radius: 0 20px 20px 0;
}
.masking {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.masking .masking_title {
  transform: translateY(145px);
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #f0eaec;
  width: 1280px;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 30px;
}
.masking .masking_title .fl {
  border-bottom: none;
  font-size: 13px;
  font-weight: 900;
  color: #0178e0;
}
.masking .masking_title .fr {
  padding: 0 30px;
  cursor: pointer;
  border-bottom: none;
}
.masking table {
  width: 1280px;
  height: 363px;
  margin: 0 auto;
  transform: translateY(145px);
}
.masking table tr:nth-child(1) {
  background-color: #ede7e9;
  color: #000000;
  font-weight: 800;
}
.masking table tr:nth-child(1) td:nth-child(1) {
  color: #000;
}
.masking table tr:nth-child(odd) {
  background-color: #fff;
}
.masking table tr:nth-child(even) {
  background-color: #f4f4f4;
}
.masking table tr td:nth-child(1) {
  text-indent: 30px;
  color: #0178e0;
}
.price_Difference .price_details .row .span {
  left: 468px;
}
.price_Difference .price_details .first {
  left: 12px;
}
.price_Difference .price_details .second {
  left: 163px;
}
.price_Difference .price_details .third {
  left: 315px;
}
.price_Difference .price_details .four {
  left: 513px;
}
.price_Difference .price_details .five {
  left: 665px;
}
.price_Difference .price_details .six {
  left: 820px;
}
.market_details {
  width: 1028px;
  margin: 0 auto;
}
.market_details .select_slDiv {
  height: 87px;
}
.market_details #btnSelect {
  width: 95px;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 18px;
}
.market_details #btnSelect i {
  float: right;
}
.market_details .slDiv {
  height: 35px;
  margin-top: 29px;
  position: relative;
}
.market_details .ulDiv {
  margin-top: 0;
  border: none;
}
.market_details .ulDiv li {
  width: 95px;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  background-color: #fff;
}
.market_details .month_div {
  height: 50px;
}
.market_details .month_div .month_block {
  width: 722px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}
.market_details .month_div .month_block ul {
  width: 2088px;
}
.market_details .month_div .month_block ul li {
  width: 87px;
  height: 48px;
  line-height: 50px;
  text-align: center;
}
.market_details .month_div span {
  width: 37px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.month_div > ul {
  width: 137px;
  height: 50px;
  background-color: #f7fafa;
}
.month_div > ul li {
  text-align: center;
  line-height: 50px;
  width: 137px;
  height: 50px;
  color: #0178e0;
}
.month_div > ul li i {
  color: #0178e0;
}
.download {
  width: 93px;
  height: 48px;
  border: 1px solid #ccc;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}
.bottom_market {
  margin-top: 20px;
}
.bottom_market .title {
  height: 45px;
  background-color: #ccc;
}
.bottom_market .title div:nth-child(1),
.bottom_market .title div:nth-child(2) {
  cursor: pointer;
}
.bottom_market .title div {
  height: 44px;
  width: 140px;
  line-height: 44px;
  text-align: center;
}
.bottom_market .title .active {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #0178e0;
  border-bottom: none;
}
.bottom_market .title ul {
  width: 100px;
  height: 45px;
  overflow: hidden;
}
.bottom_market .title ul li {
  width: 100px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  color: #0178e0;
}
.bottom_market .title ul li i {
  color: #0178e0;
}
.bottom_market .rmb_market {
  display: none;
}
.bottom_market .rmb_market thead tr {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.bottom_market .rmb_market thead th {
  font-size: 14px;
  font-size: 900;
  text-align: center;
  height: 45px;
  width: 171px;
  border-bottom: 1px solid #ccc;
}
.bottom_market .rmb_market tbody tr {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.bottom_market .rmb_market tbody td {
  font-size: 14px;
  font-size: 900;
  text-align: center;
  height: 45px;
  border-bottom: 1px solid #ccc;
}
.icon-shezhi {
  cursor: pointer;
}
.market_details {
  width: 1028px;
  margin: 0 auto;
}
.market_details .select_slDiv {
  height: 87px;
}
.market_details #btnSelect {
  width: 95px;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 18px;
}
.market_details #btnSelect i {
  float: right;
}
.market_details .slDiv {
  height: 35px;
  margin-top: 29px;
  position: relative;
}
.market_details .ulDiv {
  margin-top: 0;
  border: none;
}
.market_details .ulDiv li {
  width: 95px;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  background-color: #fff;
}
.market_details .month_div {
  height: 50px;
}
.market_details .month_div .month_block {
  width: 722px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}
.market_details .month_div .month_block ul {
  width: 2088px;
}
.market_details .month_div .month_block ul li {
  width: 87px;
  height: 48px;
  line-height: 50px;
  text-align: center;
}
.market_details .month_div span {
  width: 37px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.month_div > ul {
  width: 137px;
  height: 50px;
  background-color: #f7fafa;
}
.month_div > ul li {
  text-align: center;
  line-height: 50px;
  width: 137px;
  height: 50px;
  color: #0178e0;
}
.month_div > ul li i {
  color: #0178e0;
}
.download {
  width: 93px;
  height: 48px;
  border: 1px solid #ccc;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}
.bottom_market {
  margin-top: 20px;
}
.bottom_market .title {
  height: 45px;
  background-color: #ccc;
}
.bottom_market .title div:nth-child(1),
.bottom_market .title div:nth-child(2) {
  cursor: pointer;
}
.bottom_market .title div {
  height: 44px;
  width: 140px;
  line-height: 44px;
  text-align: center;
}
.bottom_market .title .active {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #0178e0;
  border-bottom: none;
}
.bottom_market .title ul {
  width: 100px;
  height: 45px;
  overflow: hidden;
}
.bottom_market .title ul li {
  width: 100px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  color: #0178e0;
}
.bottom_market .title ul li i {
  color: #0178e0;
}
.bottom_market .rmb_market {
  display: none;
}
.bottom_market .rmb_market thead tr {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.bottom_market .rmb_market thead th {
  font-size: 14px;
  font-size: 900;
  text-align: center;
  height: 45px;
  width: 171px;
  border-bottom: 1px solid #ccc;
}
.bottom_market .rmb_market tbody tr {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.bottom_market .rmb_market tbody td {
  font-size: 14px;
  font-size: 900;
  text-align: center;
  height: 45px;
  border-bottom: 1px solid #ccc;
}
.rmb_market.block {
  display: block;
}
.charts_main {
  width: 1024px;
  height: 473px;
}
.masking .type {
  width: 137px;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 48px;
  font-size: 14px;
  color: #0178e0;
  position: absolute;
  right: 221px;
  z-index: 2;
}
.masking .type div {
  display: none;
  background-color: #fff;
}
.masking .type .type1 {
  background-color: #e4ecff;
  color: #0178e0;
  font-size: 15px;
  font-weight: 900;
  box-sizing: border-box;
  cursor: pointer;
}
.masking .type i {
  color: #0178e0;
  font-size: 25px;
  font-weight: 900;
  margin-right: 32px;
  position: absolute;
  cursor: pointer;
  right: -28px;
  top: 0px;
  z-index: 1;
}
.masking .type .active {
  display: block;
}
.masking .bottom_market .type {
  right: 133px;
  width: 110px;
  border: none;
}
.masking .bottom_market .type .type1 {
  background-color: #ccc;
}
.masking .bottom_market .type i {
  right: -8px;
}
.shezhi {
  width: 41px;
  height: 42px;
  position: absolute;
  left: 0;
  top: 0;
}
.close {
  width: 41px;
  height: 42px;
  position: absolute;
  right: 0;
  top: 0;
}
.item1 td:nth-child(7),
.item1 td:nth-child(8),
.item1 td:nth-child(9) {
  display: none;
}
.showcolor {
  color: #0178e0;
}
.price_details > .row > span {
  left: 466px;
}
.pos .l {
  position: absolute;
  width: 1px;
  height: 100px;
  border-right: 1px solid #ccc;
  z-index: 9999;
  left: -198px;
  top: 11px;
  display: none;
}
